/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-Apr-2016, 1:50:53 PM
    Author     : c0640780
*/
html {
    background-image: url("http://data.whicdn.com/images/27696473/large.jpg");
    background-repeat: no-repeat;
}
h1 {
    color: green;
    
}
section {
    margin: auto;
 
}
div {
    margin-left: 25%;
    margin-right: 25%;
    float: right;
}
.button {
    text-align: center;
    color: black;
    background-color: crimson;
    
}
p {
    color: green;
}

